*{
    font-family: "Poppins", sans-serif;
}
html, body{
    height: 100%;
    margin: 0;
    position: relative;
}
.bg{
    width: 100%;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    position: absolute;
}
.bg:before{
    content: "";
    background: inherit;
    filter: blur(20px) brightness(30%);
    position: fixed;
    z-index: -1;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
}