{% extends "minecraftRecommended/base.html" %}
{% block title %}
<title>マイクラ鯖のすゝめ - 自分が作るときのやり方</title>
{% endblock %}
{% block body %}
<h3>はい、ただのマイクラ鯖づくり思想です。</h3>
<p class="text-danger">※このやり方はJavaのときのみ<br>
※ダウンロードコマンドは参考で、実際には新しいビルドが出ている場合がほとんどなので、信用はしないでください。</p>
<p>と、いうことで、このページはマイクラ鯖を作るときのやり方（自分がやるときに）を書いていきますヨ〜<br>
あと、自分が勝手にそう思っているだけで間違っていることがあると思うので、そこはご了承の上のおじいさんでお願いします。</p>
<ul>
    <li>
        <h4>必要なもの</h4>
        <ul>
            <li>メモリが8GB以上あるパソコン</li>
            <li>もう一つのパソコン</li>
        </ul>
    </li>
    <li>
        <h4>目次</h4>
        <ul>
            <li>
                <h5>よく使うもの</h5>
                <ul>
                    <li><a href="intro">はじめに</a></li>
                    <li><a href="basic">マイクラ鯖の基本的なインストール</a></li>
                    <li><a href="bungeeCord">BungeeCordの導入</a></li>
                    <li><a href="motd">Motdの設定について</a></li>
                </ul>
            </li>
            <li>
                <h5>プラグイン</h5>
                <ul>
                    <li><a href="geyser">統合版も入れるようにするプラグインGeyserMCを入れる</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}