{% extends "minecraftRecommended/base.html" %}
{% block title %}
<title>マイクラ鯖のすゝめ - はじめに</title>
{% endblock %}
{% block body %}
<h3>はじめに</h3>
<ul>
    <li>
        <h4>マイクラ鯖のすゝめとは？</h4>
        <p>マイクラサーバーというものは、マイクラをやっていれば知っている人が大体じゃないかと思うのですが、一応説明しておきます。<br>
        マイクラサーバーはマイクラのいろんな処理（ワールドデータ読み書き・プレイヤー位置管理など）をマルチプレイ上で行うものです。</p>
        <p>基本的にはそのマイクラサーバーは自分が建てることがないかもしれません。しかし、もし自分がコミュニティを作りたい！と思ったときにゲームとして代表的なのがマインクラフトだと思います。<br>
        なので！今回は！そんな人向けの！すゝめを書いていこかな〜と思っています！</p>
        <p>基本的にはサーバーOSのインストール〜プラグインなどの設定まで、できたらな〜と思っています！</p>
    </li>
    <li>
        <h4>OS(オペレーティング・システム)について</h4>
        <p>基本的にはマインクラフトはJavaという言語で書かれているので、WindowsでもMacでもどのOSでも大抵は動きますが、サーバーではLinuxを使うことをおすすめします。<br>
        基本的にLinuxは無料（プログラムが公開されている）でサーバーに向いている設計なのです。Windowsは基本的にはサーバーとして使いません。というか使い物に何ません。</p>
        <p>マイクラ鯖のすゝめではLinuxのディストーションの「Ubuntu」を元に書いていきます。Debian系なら大丈夫です。<br>
        それと、GUI(マウスが動くようなウィンドウシステム)がない環境でCUI(文字だけのシステム)しか使えない状況でも動くように書いているので、すべての操作はコマンドで行われます。</p>
        <p>ですので、多少のLinux(Debian系)コマンドは知っておく必要があります。</p>
    </li>
</ul>
{% endblock %}