{% extends "youCantStopSanpo/base.html" %}
{% block title %}
<title>You cant stop Sanpo - Good Kanto Sanpo spot</title>
{% endblock %}
{% block body %}
<p>散歩部の優斗が更新する散歩ルート共有ページです！<br>
主に東京の良かった散歩ルートを書いていこうかな...と思います。</p>
<hr>
<div class="container">
    <h3>ルート！</h3>
    <ul>
        <li>
            <h5>皇居と東京駅</h5>
            <p>すごくきれいで堀が特徴的な皇居に行く散歩ルートです！<br>
            新宿駅からだと、新宿通りからずっと西（四ツ谷方面）に歩き続けると、皇居を見ることができます！ 大体二時間かかるかかからない程度です！<br>
            このルートのおすすめポイントは、青梅街道もつながっているアクセスが新宿から行けるところ（つまり、もっと遠いところからも進みやすい！）<br>
            と、長距離がきつい場合は四ツ谷駅だったり、四ツ谷三丁目などの近い駅からもスタートできて、最後は東京駅なので、帰りもラクですよ！</p>
        </li>
    </ul>
</div>
{% endblock %}