{% extends "main/base.html" %}
{% block title %}
<title>Do you love? - UnOffical Site</title>
{% endblock %}
{% block addHead %}
<link href="static/styles/opAnimation.css" rel="stylesheet" />
{% endblock%}
{% block addBody %}
<div class="opAnimation">
    <div class="opAnimationText" id="opAnimationText"></div>
</div>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <h2>Welcome to "Do you love?"</h2>
    <p><img class="me-1" src="../static/img/valorant/yuto.webp" height="22.5px">優斗がてきとうに作ったLove鯖の非公式サイトです！<br>
    あんまり機能はないけど、よかったら見に行ってね！<br>
    あ、ちなみに出会い系サイトではないですよ（笑）</p>
    <button class="btn btn-outline-info btn-lg" aria-current="page" onclick="window.location.href = 'qBlog/';" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); ">QBlog</button>
    </div>
<script src="static/js/opAnimation.js"></script>
{% endblock %}