{% extends "main/base.html" %}
{% block title %}
<title>Do you love? - Offical Site</title>
{% endblock %}
{% block addHead %}
<link href="static/styles/opAnimation.css" rel="stylesheet" />
{% endblock%}
{% block addBodyS %}
<div class="opAnimation">
    <div class="opAnimationText" id="opAnimationText"></div>
</div>
{% endblock %}
{% block body %}
<h2>Welcome to "Do you Love?"</h2>
<p><img class="me-1" src="../static/img/icons/yuto.webp" height="22.5px">優斗がてきとうに作ったDo you love?の公式サイト兼優斗のサイトです！<br>
あんまり機能はないけど、よかったら見に行ってね！<br>
あ、ちなみに出会い系サイトではないですよ（笑）</p>
<h3>Do you Love?とはなんすか？</h3>
<p>謎の文ですけど、ラブ鯖自体を指してるわけではないです。<br>
ラブ鯖上にある人たちの中でゲームとかを一緒にやる仲良し的なコミュニティー的な？的な？的な？感じです。<br>
めんどくさいので、DyLとか呼んでもらったらいいかな〜</p>
<h3>優斗の自己紹介</h3>
<p>まあ優斗なんですが、92歳の道民住みということになっています。<br>
基本的にはよくプログラム書いている人で散歩部とValorant部をどっちも初心者として参加してマス！</p>
<h3>ゲーム</h3>
<p>Valorant・Fortnite(最近はValorantのようなモード...?)が多いですが、それに限られません。<br>
Youtubeチャンネルの方にもゲームなら何でもあげていこうかな...?と思ってるので。</p>
<button class="btn btn-outline-primary mt-3" id="noopAnimation" onclick="localStorage.setItem('animation', 'noop'); document.getElementById('noopAnimation').innerHTML = '変更しました'">次からはアニメーションを利用しない</button>
{% endblock %}
{% block addBodyE %}
<script src="static/js/opAnimation.js"></script>
<script>
    animation("Do you love?\nstsaria's potal site");
</script>
{% endblock %}