{% extends "main/base.html" %}
{% block title %}
<title>Do you love? - Valorant</title>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col">
        <h2>Valorant部</h2>
        <p><img class="me-2" src="../static/img/icons/tachichi.webp" height="25px">部長 - たちち - ID:tachichi999</p>
        <p>チョウ最近にできた別ゲー部門<br>
        Valorantの情報共有や、戦績を上げていくYYな部門です！<br>
        参加方法はLove鯖->別ゲー(カテゴリ)->ヴァロラント(チャンネル)->入部(チャットに書く)</p>
        <h3>頻度</h3>
        <p>一週間に少なくとも4回ぐらいあります！</p>
    </div>
    <div class="col">
        <h3>Flags</h3>
        <iframe width="401" height="225" src="https://www.youtube.com/embed/g0-j29nszdI" title="&quot;Ares!!!!!&quot; Valorant beginner&#39;s flag (偉そうに言ってるけどヴァンダル練習してます....)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}