{% extends "qBlog/base.html" %}
{% block title %}
<title>QBlog - {{ title }}</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <h3>{{ title }} - {{ articleIp }}</h3>
    <h5>{{ subTitle }}<button class="btn btn-outline-primary ms-5" id="goodButton" onclick="fetch('good?id={{ articleId }}');document.getElementById('goodButton').innerHTML='Goodしました！';">この記事をGood!</button></h5>
    <hr>
    <div class="container mt-3" id="content">
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    marked.setOptions({ breaks: true })
    document.getElementById("content").innerHTML = marked.parse(`{{ content }}`);
</script>
{% endblock %}