{% extends "qBlog/base.html" %}
{% block title %}
<title>QBlog - Its Blog site</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <h2>You login <span class="text-info">QBlog</span></h2>
    <p>日常でも豆知識でもじゃんじゃん投稿してってくだせ〜<br>
    あとできるだけエレガントに書いてね　暴言・エロ・グロの表現はお止め</p>
    <button class="btn btn-outline-info btn-lg" aria-current="page" onclick="window.location.href = 'new';">新しい記事を作成</button>
    <hr>
    <h3>Blogs</h3>
    <div class="container mt-5">
        <div class="row">
            {% for blog in blogs %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ blog.title }}</h4>
                        <p class="card-text">{{ blog.subTitle }}</p>
                        <button class="btn btn-outline-info" aria-current="page" onclick="window.location.href = 'blog?id={{ blog.id }}';">見る</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}